{% extends "shop/base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
    <h2>{{ product.name }}</h2>
    <div class="image-container">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
    </div>
    <div class="text-container">
        <p><strong>Цена:</strong> {{ product.price }} ₽</p>
        <p>{{ product.detailed_description }}</p>
        <a href="{% url 'product_list' %}" class="back-link">Вернуться к продуктам</a>
    </div>
</div>
{% endblock %}
