{% extends 'shop/base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
    <div class="about">
        <div class="about-text">
            <h1>О нашей кондитерской</h1>
            <p>Наша кондитерская - это уютное место, где каждый десерт создается с любовью и тщательным вниманием к деталям. Мы предлагаем широкий ассортимент сладких угощений: торты, пирожные, кексы, капкейки, печенье и многое другое. Мы используем только лучшие ингредиенты и следим за качеством каждого изделия.</p>
            <p>У нас работают опытные кондитеры, которые умеют превратить обычный десерт в настоящее произведение искусства. Мы рады помочь вам подобрать идеальный десерт для любого случая: дни рождения, свадьбы, корпоративные мероприятия или просто для удовольствия.</p>
            <p>Посетив нашу кондитерскую, вы почувствуете атмосферу тепла и уюта, а наши сладкие угощения приятно удивят вас своим вкусом и оригинальным дизайном. Доверьте нам создание десерта вашей мечты и мы сделаем все возможное, чтобы он превзошел ваши ожидания. Добро пожаловать в мир вкусных удовольствий в нашей кондитерской!</p>
        </div>
        <img src="{% static 'images/about.jpg' %}" alt="О нас" class="about-image">
    </div>

{% endblock %}
