{% extends "shop/base.html" %}

{% block title %}Наши продукты{% endblock %}

{% block content %}
<div class="container">
    <h2 class="category-title">Наши продукты</h2>

    <div class="category-list">
        <div class="category-card">
            <a href="{% url 'product_list' %}" class="category-link">Все продукты</a>
        </div>
        <div class="category-card">
            <a href="{% url 'product_list' %}?category=Торты" class="category-link">Торты</a>
        </div>
        <div class="category-card">
            <a href="{% url 'product_list' %}?category=Десерты" class="category-link">Десерты</a>
        </div>
        <div class="category-card">
            <a href="{% url 'product_list' %}?category=Пирожные" class="category-link">Пирожные</a>
        </div>
    </div>


    <form method="get" class="filter-form">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Поиск по имени" class="search-input">

        <select name="sort_price" class="sort-select">
            <option value="" {% if not sort_price %}selected{% endif %}>Без сортировки</option>
            <option value="asc" {% if sort_price == 'asc' %}selected{% endif %}>Цена: по возрастанию</option>
            <option value="desc" {% if sort_price == 'desc' %}selected{% endif %}>Цена: по убыванию</option>
        </select>

        {% if category %}
        <input type="hidden" name="category" value="{{ category }}">
        {% endif %}

        <button type="submit" class="btn">Применить</button>
    </form>

    <hr>

    <h2 class="category-title">
        {% if category %}Категория: {{ category }}{% else %}Все продукты{% endif %}
    </h2>

    <div class="product-list">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p class="price">{{ product.price }} ₽</p>
            <a href="{% url 'product_detail' product.id %}" class="btn">Подробнее</a>
            <a href="{% url 'add_to_cart' product.id %}" class="btn">Добавить в корзину</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
