{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Категория: {{ category_name }}{% endblock %}

{% block content %}
<h2 class="category-title">Категория: {{ category_name }}</h2>
<div class="product-list">
    {% if products %}
        {% for product in products %}
            <div class="product-card">
                <img src="{% static product.image %}" alt="{{ product.name }}" class="product-image">
                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description|truncatewords:10 }}</p>
                <p><strong>Цена:</strong> {{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}" class="detail-link">Подробнее</a>
            </div>
        {% endfor %}
    {% else %}
        <p>В данной категории пока нет товаров.</p>
    {% endif %}
</div>
<a href="{% url 'products' %}" class="back-link">Назад к продуктам</a>
{% endblock %}
